/*W3C validator fait*/
.listequestion{
    align-self: center;
    text-align: center;
    font-size: 140%;
    width: 50%;
    border-radius: 1em;
    background-color: aliceblue;
    margin-bottom: 5%;
    color : #7f95e4;
}