.logo2{
    display: flex;
    width: 7em;
    justify-self: center;
    align-items: center;
}


.scenario{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    justify-content: center;
    padding: 3%;
    border-style:groove;
    border-color: black;
    border-radius: 50px;
}

.explication{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

div {
    flex-direction: row;
}