body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


header{
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Logo{
    width: 20%;
    height: 20%;
}

.Title{
    text-decoration: none;
    font-weight: bolder ;
    font-size: 180%;
    font-family: sans-serif;
    color: white;
}


.Title:hover{
    color: green;
}

.Link.Title {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}


section{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



form{
    display: flex;
    flex-direction: column;
}

.login{
    width: 20%;
    background-color: #CDFEAA;
    padding: 5% 5% 5% 5%;

}

.register{
    width: 20%;
    background-color: #CDFEAA;
    padding: 5% 5% 5% 5%;
}

.Boutton_Valider{
    margin-top: 10%;
    width: 50%;

}

.description{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    background-color: rgba(7, 71, 5, 0.76);
    margin-top: 10%;
}

@media screen and (max-width: 700px) {

    .Title{
        font-size: 100%;
    }

    .corp{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .connect{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .login{
        margin-bottom: 5%;
    }


    section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .Logo{
        display: flex;
        justify-content: center;
    }

    header{
        display: flex;
        flex-direction: column-reverse;
    }
}