body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Logo{
    width: 20%;
    height: 20%;
}

.Title{
    text-decoration: none;
    font-weight: bolder ;
    font-size: 180%;
    font-family: sans-serif;
    color: white;
}

.Title:hover{
    color: green;
}

section{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formulaire{
    width: 20%;
    background-color: #CDFEAA;
    padding: 5% 5% 5% 5%;
}


.Boutton_Valider{
    margin-top: 10%;
    width: 50%;

}

.description{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    background-color: rgba(255, 0, 0, 0.562);
    margin-top: 5%;
}

@media screen and (max-width: 700px) {

    body{
        display: flex;
        align-items: center;
    }
    
    .Logo{
        width: 70%;
        height: 70%;
    }
    
    section{
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .formulaire{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
   
}