body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Logo{
    width: 20%;
    height: 20%;
}

.Title{
    text-decoration: none;
    font-weight: bolder ;
    font-size: 180%;
    font-family: sans-serif;
    color: white;
}

.Title:hover{
    color: green;
}

.image{
    width: 100%;
    height: 100%;
}


footer{
    background-color: rgba(255, 0, 0, 0.562);
    margin-top: 5%;
}

@media screen and (max-width: 700px) {

    body{
        display: flex;
        align-items: center;
    }
    
    .Logo{
        width: 70%;
        height: 70%;
    }

}