body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header{
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Logo{
    width: 20%;
    height: 20%;
}

.Title{
    text-decoration: none;
    font-weight: bolder ;
    font-size: 180%;
    font-family: sans-serif;
    color: white;
}

.Link{
    text-decoration: none;
    font-weight: bolder ;
    font-size: 180%;
    font-family: sans-serif;
    color: white;
}

.Title:hover{
    color: green;
}

.Link.Title {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.Link:link {
    color: white;
}

.Link:visited {
    color: white;
}


.Link:active {
}

footer{
    background-color: rgba(9, 255, 0, 0.555);
    margin-top: 10%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.connect{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.description{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


form{
    display: flex;
    flex-direction: column;
}

.login{
    width: 20%;
    background-color: #CDFEAA;
    padding: 5% 5% 5% 5%;

}

.register{
    width: 20%;
    background-color: #CDFEAA;
    padding: 5% 5% 5% 5%;
}

.ButValLogIn{
    margin-top: 10%;
    width: 50%;

}
.ButValRegister{
    margin-top: 10%;
    width: 50%;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 700px) {

    .Title{
        font-size: 100%;
    }

    .corp{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .connect{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .login{
        margin-bottom: 5%;
    }


    section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .Logo{
        display: flex;
        justify-content: center;
    }

    header{
        display: flex;
        flex-direction: column-reverse;
    }
}