body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Logo{
    width: 20%;
    height: 20%;
}

.Title{
    text-decoration: none;
    font-weight: bolder ;
    font-size: 180%;
    font-family: sans-serif;
    color: white;
}

.Title:hover{
    color: green;
}

footer{
    background-color: rgba(9, 255, 0, 0.555);
    margin-top: 10%;
}

.corp{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: column;
}

.LeaderBord {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Player{
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    list-style-type: none;
}

@media screen and (max-width: 700px) {
    .corp{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    form{
        display: flex;
        flex-direction: column;

    }

    .LeaderBord {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .joueurs{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        list-style-type: none;
    }
}